.container {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: 1fr 1fr 1fr;
}

.squareImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 16px;
  object-fit: cover;
  transition: all 0.3s ease;
}

@media (max-width: 525px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 374px) {
  .container {
    grid-template-columns: 1fr;
  }
}
