.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.colorBlock {
  border-radius: 12px;
  width: 30%;
  height: 40px;
  border: 1px solid gray;
}

.colorBlockWrapper {
  display: flex;
  gap: var(--spacing-xs);
  margin-bottom: 12px;
  justify-content: space-between;
}

.colorGradient {
  height: 40px;
  border-radius: 12px;
  border: 1px solid gray;
}

@media (max-width: 525px) {
  .colorBlock {
    height: 30px;
  }

  .colorGradient {
    height: 30px;
  }
}

@media (max-width: 374px) {
  .container {
    grid-template-columns: 1fr;
  }
}
