.portrait {
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
  object-fit: cover;
  width: 280px;
  height: 350px;
  float: right;
}

.mb {
  margin-bottom: 8px;
}

.mt {
  margin-top: 8px;
}

@media (max-width: 525px) {
  .portrait {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 12px;
  }
}
