.roleChip {
  padding: 4px 8px;
  border-radius: 12px;
  color: #ffffff;
  margin-bottom: 12px;
}

.roleChip__primary {
  background-color: #1d860398;
}

.roleChip__secondary {
  background-color: #2037ff98;
}

.roleChip__tertiary {
  background-color: #ff7e1598;
}
